USE [master]
GO
/****** Object:  Database [COMPLEJO_DE_CINES]    Script Date: 10/11/2022 16:58:14 ******/
CREATE DATABASE [COMPLEJO_DE_CINES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMPLEJOS_DE_CINES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\COMPLEJOS_DE_CINES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COMPLEJOS_DE_CINES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\COMPLEJOS_DE_CINES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMPLEJO_DE_CINES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMPLEJO_DE_CINES]
GO
/****** Object:  UserDefinedTableType [dbo].[nombretabla]    Script Date: 10/11/2022 16:58:14 ******/
CREATE TYPE [dbo].[nombretabla] AS TABLE(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](125) NULL,
	PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedTableType [dbo].[nombretablas]    Script Date: 10/11/2022 16:58:14 ******/
CREATE TYPE [dbo].[nombretablas] AS TABLE(
	[id] [int] NOT NULL,
	[nombre] [varchar](125) NULL,
	PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedFunction [dbo].[f_Estacion_Fecha]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[f_Estacion_Fecha]
(@fecha date)
returns varchar(125)
as
begin 
declare @estacion varchar(125)
if (@fecha between convert(date,'01/01/'+str(year(@fecha))) and convert(date,'20/03/'+str(year(@fecha)))
or @fecha between convert(date,'21/12/'+str(year(@fecha))) and convert(date,'31/12/'+str(year(@fecha))))
set @estacion = 'Verano'
ELSE IF(@fecha between convert(date,'21/03/'+str(year(@fecha))) and convert(date,'20/06/'+str(year(@fecha))))
set @estacion = 'Otoño'
ELSE IF(@fecha between convert(date,'21/06/'+str(year(@fecha))) and convert(date,'20/09/'+str(year(@fecha))))
set @estacion = 'Invierno'
ELSE IF(@fecha between convert(date,'21/09/'+str(year(@fecha))) and convert(date,'20/12/'+str(year(@fecha))))
set @estacion = 'Primavera'
return @estacion
end;
GO
/****** Object:  UserDefinedFunction [dbo].[f_Provincia_X_Ciudad]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_Provincia_X_Ciudad]
(@ciudad varchar (150) = '')
RETURNS varchar (150)
BEGIN 
	DECLARE @salida varchar (150)
	SET @salida = (Select p.PROVINCIA
			FROM CIUDADES c 
			JOIN PROVINCIAS p ON c.ID_PROVINCIA = p.ID_PROVINCIA
			WHERE c.CIUDAD = @ciudad)
	RETURN @salida
END;
GO
/****** Object:  UserDefinedFunction [dbo].[precio_con_aumento]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[precio_con_aumento]
(@precio_x_butaca decimal(10,2),
@aumento decimal(10,2))
RETURNS decimal(10,2)
as
BEGIN
	DECLARE @salida decimal (10,2)
	SET @salida = @precio_x_butaca + (@precio_x_butaca * @aumento)/100
	RETURN @salida
END;
GO
/****** Object:  Table [dbo].[IDIOMAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMAS](
	[ID_IDIOMA] [int] IDENTITY(1,1) NOT NULL,
	[IDIOMA] [varchar](125) NULL,
 CONSTRAINT [PK_IDIOMA] PRIMARY KEY CLUSTERED 
(
	[ID_IDIOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[ID_PELICULA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](125) NOT NULL,
	[DURACION] [int] NOT NULL,
	[ID_GENERO] [int] NOT NULL,
	[ID_CLASIF_EDAD] [int] NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[ID_IDIOMA] [int] NOT NULL,
	[ID_SUBTITULO] [int] NULL,
 CONSTRAINT [PK_PELICULAS] PRIMARY KEY CLUSTERED 
(
	[ID_PELICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBTITULOS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBTITULOS](
	[ID_SUBTITULO] [int] IDENTITY(1,1) NOT NULL,
	[SUBTITULOS] [varchar](125) NULL,
 CONSTRAINT [PK_SUBTITULO] PRIMARY KEY CLUSTERED 
(
	[ID_SUBTITULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[peliculas_ingles_sub_esp]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[peliculas_ingles_sub_esp] AS
SELECT p.NOMBRE, p.ID_PELICULA, p.ID_IDIOMA, p.ID_SUBTITULO, p.ID_GENERO, p.ID_CLASIF_EDAD
FROM PELICULAS p
JOIN IDIOMAS i ON i.ID_IDIOMA = p.ID_IDIOMA
JOIN SUBTITULOS s ON s.ID_SUBTITULO = p.ID_SUBTITULO
WHERE i.IDIOMA = 'ingles'
AND s.SUBTITULOS = 'español'
GO
/****** Object:  Table [dbo].[BARRIOS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARRIOS](
	[ID_BARRIO] [int] IDENTITY(1,1) NOT NULL,
	[BARRIO] [varchar](125) NULL,
	[ID_CIUDAD] [int] NULL,
 CONSTRAINT [PK_TIPO_BARRIO] PRIMARY KEY CLUSTERED 
(
	[ID_BARRIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUTACAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUTACAS](
	[ID_BUTACA] [int] IDENTITY(1,1) NOT NULL,
	[NRO_FILA] [int] NOT NULL,
	[NRO_BUTACA] [int] NOT NULL,
	[RESERVADO] [bit] NOT NULL,
	[ID_SALA] [int] NOT NULL,
 CONSTRAINT [PK_BUTACAS] PRIMARY KEY CLUSTERED 
(
	[ID_BUTACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CINES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINES](
	[ID_CINE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](125) NOT NULL,
	[ID_COND_IVA] [int] NOT NULL,
	[CUIT] [bigint] NOT NULL,
	[TELEFONO] [bigint] NOT NULL,
	[CALLE] [varchar](125) NOT NULL,
	[ALTURA] [int] NOT NULL,
	[ID_BARRIO] [int] NOT NULL,
	[INGRESOS_BRUTOS] [bigint] NULL,
 CONSTRAINT [PK_CINE] PRIMARY KEY CLUSTERED 
(
	[ID_CINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[ID_CIUDAD] [int] IDENTITY(1,1) NOT NULL,
	[CIUDAD] [varchar](125) NULL,
	[ID_PROVINCIA] [int] NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[ID_CIUDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASIFICACION_EDADES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASIFICACION_EDADES](
	[ID_CLASIF_EDAD] [int] IDENTITY(1,1) NOT NULL,
	[CLASIFICACION_EDAD] [varchar](125) NULL,
 CONSTRAINT [PK_ECLASIF_EDAD] PRIMARY KEY CLUSTERED 
(
	[ID_CLASIF_EDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](125) NOT NULL,
	[ID_COND_IVA] [int] NOT NULL,
	[ID_TIPO_CLIENTE] [int] NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[DOCUMENTO] [bigint] NOT NULL,
	[TELEFONO] [bigint] NULL,
	[CALLE] [varchar](125) NULL,
	[ALTURA] [int] NULL,
	[ID_BARRIO] [int] NULL,
	[SOCIO] [bit] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPROBANTES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROBANTES](
	[ID_COMPROBANTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENDEDOR] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_CINE] [int] NOT NULL,
	[FECHA_RESERVA] [date] NULL,
	[ID_FORMA_DE_COMPRA] [int] NOT NULL,
	[ID_TIPO_DESCUENTO] [int] NULL,
	[BAJA] [bit] NULL,
 CONSTRAINT [PK_COMPROBANTE] PRIMARY KEY CLUSTERED 
(
	[ID_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COND_IVA]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COND_IVA](
	[ID_COND_IVA] [int] IDENTITY(1,1) NOT NULL,
	[COND_IVA] [varchar](125) NULL,
 CONSTRAINT [PK_COND_IVA] PRIMARY KEY CLUSTERED 
(
	[ID_COND_IVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPROBANTE]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPROBANTE](
	[ID_DETALLE_COMPROBANTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPROBANTE] [int] NOT NULL,
	[ID_BUTACA] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[ID_PELICULA] [int] NOT NULL,
	[PRECIO] [decimal](7, 2) NOT NULL,
	[ID_SALA] [int] NOT NULL,
	[ID_FUNCION] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_COMPROBANTE] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAS_DE_COMPRAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAS_DE_COMPRAS](
	[ID_FORMA_DE_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[FORMA_DE_COMPRA] [varchar](125) NULL,
 CONSTRAINT [PK_FORMA_DE_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_FORMA_DE_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAS_DE_PAGO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAS_DE_PAGO](
	[ID_FORMA_DE_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[FORMA_DE_PAGO] [varchar](125) NULL,
 CONSTRAINT [PK_FORMA_DE_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMA_DE_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAS_PAGO_X_COMPROBANTE]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAS_PAGO_X_COMPROBANTE](
	[ID_FP_X_COMP] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPROBANTE] [int] NOT NULL,
	[ID_FORMA_DE_PAGO] [int] NOT NULL,
	[MONTO_ABONADO] [decimal](7, 2) NULL,
 CONSTRAINT [PK_FP_X_COMP] PRIMARY KEY CLUSTERED 
(
	[ID_FP_X_COMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES](
	[ID_FUNCION] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_FUNCION] [date] NULL,
	[HORA_FUNCION] [varchar](125) NULL,
 CONSTRAINT [PK_FUNCION] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONES_X_PELICULA]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES_X_PELICULA](
	[ID_FUN_X_PEL] [int] IDENTITY(1,1) NOT NULL,
	[ID_FUNCION] [int] NOT NULL,
	[ID_PELICULA] [int] NOT NULL,
 CONSTRAINT [PK_FXP] PRIMARY KEY CLUSTERED 
(
	[ID_FUN_X_PEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENEROS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENEROS](
	[ID_GENERO] [int] IDENTITY(1,1) NOT NULL,
	[GENERO] [varchar](125) NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCIA] [varchar](125) NULL,
 CONSTRAINT [PK_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS](
	[ID_SALA] [int] IDENTITY(1,1) NOT NULL,
	[NRO_SALA] [int] NOT NULL,
	[ID_TIPO_SALA] [int] NOT NULL,
	[PRECIO_X_BUTACA] [decimal](7, 2) NOT NULL,
	[ID_CINE] [int] NOT NULL,
 CONSTRAINT [PK_SALAS] PRIMARY KEY CLUSTERED 
(
	[ID_SALA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKETS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKETS](
	[ID_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[ID_DETALLE_COMPROBANTE] [int] NOT NULL,
 CONSTRAINT [PK_TICKETS] PRIMARY KEY CLUSTERED 
(
	[ID_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_CLIENTES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_CLIENTES](
	[ID_TIPO_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_CLIENTE] [varchar](125) NULL,
 CONSTRAINT [PK_TIPO_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DESCUENTOS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DESCUENTOS](
	[ID_TIPO_DESCUENTO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_DESCUENTO] [varchar](125) NULL,
 CONSTRAINT [PK_TIPO_DESCUENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DESCUENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DOCUMENTOS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DOCUMENTOS](
	[ID_TIPO_DOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_DOCUMENTE] [varchar](125) NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_SALAS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_SALAS](
	[ID_TIPO_SALA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_SALA] [varchar](125) NULL,
 CONSTRAINT [PK_TIPO_SALA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_SALA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usuario] [varchar](150) NULL,
	[contraseña] [varchar](150) NULL,
	[jerarquia] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDORES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDORES](
	[ID_VENDEDOR] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDO] [varchar](125) NOT NULL,
	[NOMBRE] [varchar](125) NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[DOCUMENTO] [int] NOT NULL,
	[TELEFONO] [bigint] NOT NULL,
	[CALLE] [varchar](125) NOT NULL,
	[ALTURA] [int] NOT NULL,
	[ID_BARRIO] [int] NOT NULL,
	[FECHA_INGRESO] [date] NULL,
 CONSTRAINT [PK_VENDEDORES] PRIMARY KEY CLUSTERED 
(
	[ID_VENDEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BARRIOS] ON 

INSERT [dbo].[BARRIOS] ([ID_BARRIO], [BARRIO], [ID_CIUDAD]) VALUES (1, N'Hipodromo', 1)
INSERT [dbo].[BARRIOS] ([ID_BARRIO], [BARRIO], [ID_CIUDAD]) VALUES (2, N'Aeropuerto', 1)
INSERT [dbo].[BARRIOS] ([ID_BARRIO], [BARRIO], [ID_CIUDAD]) VALUES (3, N'San Patricio', 2)
SET IDENTITY_INSERT [dbo].[BARRIOS] OFF
GO
SET IDENTITY_INSERT [dbo].[BUTACAS] ON 

INSERT [dbo].[BUTACAS] ([ID_BUTACA], [NRO_FILA], [NRO_BUTACA], [RESERVADO], [ID_SALA]) VALUES (1, 1, 1, 0, 1)
INSERT [dbo].[BUTACAS] ([ID_BUTACA], [NRO_FILA], [NRO_BUTACA], [RESERVADO], [ID_SALA]) VALUES (2, 1, 2, 0, 1)
INSERT [dbo].[BUTACAS] ([ID_BUTACA], [NRO_FILA], [NRO_BUTACA], [RESERVADO], [ID_SALA]) VALUES (3, 1, 3, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[BUTACAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CINES] ON 

INSERT [dbo].[CINES] ([ID_CINE], [NOMBRE], [ID_COND_IVA], [CUIT], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [INGRESOS_BRUTOS]) VALUES (1, N'Hoyts Buenos Aires', 1, 30987853620, 115986731, N'Calle 23', 4520, 1, NULL)
INSERT [dbo].[CINES] ([ID_CINE], [NOMBRE], [ID_COND_IVA], [CUIT], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [INGRESOS_BRUTOS]) VALUES (2, N'Cinemark Buenos Aires', 1, 30725683910, 114908612, N'Azcuenaga', 290, 3, NULL)
INSERT [dbo].[CINES] ([ID_CINE], [NOMBRE], [ID_COND_IVA], [CUIT], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [INGRESOS_BRUTOS]) VALUES (3, N'Hoyts Cordoba', 1, 30963927420, 3518935692, N'Elias Yofre', 3500, 5, 16789635)
SET IDENTITY_INSERT [dbo].[CINES] OFF
GO
SET IDENTITY_INSERT [dbo].[CIUDADES] ON 

INSERT [dbo].[CIUDADES] ([ID_CIUDAD], [CIUDAD], [ID_PROVINCIA]) VALUES (1, N'La Plata', 1)
INSERT [dbo].[CIUDADES] ([ID_CIUDAD], [CIUDAD], [ID_PROVINCIA]) VALUES (2, N'Mar del Plata', 1)
INSERT [dbo].[CIUDADES] ([ID_CIUDAD], [CIUDAD], [ID_PROVINCIA]) VALUES (3, N'Capital', 2)
SET IDENTITY_INSERT [dbo].[CIUDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASIFICACION_EDADES] ON 

INSERT [dbo].[CLASIFICACION_EDADES] ([ID_CLASIF_EDAD], [CLASIFICACION_EDAD]) VALUES (1, N'ATP')
INSERT [dbo].[CLASIFICACION_EDADES] ([ID_CLASIF_EDAD], [CLASIFICACION_EDAD]) VALUES (2, N'+13')
INSERT [dbo].[CLASIFICACION_EDADES] ([ID_CLASIF_EDAD], [CLASIFICACION_EDAD]) VALUES (3, N'+16')
SET IDENTITY_INSERT [dbo].[CLASIFICACION_EDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [ID_COND_IVA], [ID_TIPO_CLIENTE], [ID_TIPO_DOCUMENTO], [DOCUMENTO], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [SOCIO]) VALUES (1, N'Prado Ignacio', 5, 4, 1, 37113833, 351786529, N'Pablo Amespil', 1100, 13, 1)
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [ID_COND_IVA], [ID_TIPO_CLIENTE], [ID_TIPO_DOCUMENTO], [DOCUMENTO], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [SOCIO]) VALUES (2, N'Collazo Gabriela', 1, 2, 1, 37114259, 351999326, N'Av Ambrosio Olmos', 1200, 5, 0)
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [ID_COND_IVA], [ID_TIPO_CLIENTE], [ID_TIPO_DOCUMENTO], [DOCUMENTO], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [SOCIO]) VALUES (3, N'Neuman Federico', 1, 2, 1, 41113893, 351778290, N'Av Los Aromos', 4200, 6, 1)
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPROBANTES] ON 

INSERT [dbo].[COMPROBANTES] ([ID_COMPROBANTE], [ID_VENDEDOR], [ID_CLIENTE], [ID_CINE], [FECHA_RESERVA], [ID_FORMA_DE_COMPRA], [ID_TIPO_DESCUENTO], [BAJA]) VALUES (1, 1, 3, 1, CAST(N'2022-09-14' AS Date), 1, 2, 0)
INSERT [dbo].[COMPROBANTES] ([ID_COMPROBANTE], [ID_VENDEDOR], [ID_CLIENTE], [ID_CINE], [FECHA_RESERVA], [ID_FORMA_DE_COMPRA], [ID_TIPO_DESCUENTO], [BAJA]) VALUES (2, 1, 6, 2, CAST(N'2022-09-11' AS Date), 4, 7, 0)
INSERT [dbo].[COMPROBANTES] ([ID_COMPROBANTE], [ID_VENDEDOR], [ID_CLIENTE], [ID_CINE], [FECHA_RESERVA], [ID_FORMA_DE_COMPRA], [ID_TIPO_DESCUENTO], [BAJA]) VALUES (4, 1, 2, 1, CAST(N'2022-09-10' AS Date), 1, 7, 0)
SET IDENTITY_INSERT [dbo].[COMPROBANTES] OFF
GO
SET IDENTITY_INSERT [dbo].[COND_IVA] ON 

INSERT [dbo].[COND_IVA] ([ID_COND_IVA], [COND_IVA]) VALUES (1, N'Responsable Inscripto')
INSERT [dbo].[COND_IVA] ([ID_COND_IVA], [COND_IVA]) VALUES (2, N'Exento')
INSERT [dbo].[COND_IVA] ([ID_COND_IVA], [COND_IVA]) VALUES (3, N'Responsable No Inscripto')
SET IDENTITY_INSERT [dbo].[COND_IVA] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_COMPROBANTE] ON 

INSERT [dbo].[DETALLE_COMPROBANTE] ([ID_DETALLE_COMPROBANTE], [ID_COMPROBANTE], [ID_BUTACA], [CANTIDAD], [ID_PELICULA], [PRECIO], [ID_SALA], [ID_FUNCION]) VALUES (1, 1, 1, 1, 1, CAST(1.00 AS Decimal(7, 2)), 1, 1)
INSERT [dbo].[DETALLE_COMPROBANTE] ([ID_DETALLE_COMPROBANTE], [ID_COMPROBANTE], [ID_BUTACA], [CANTIDAD], [ID_PELICULA], [PRECIO], [ID_SALA], [ID_FUNCION]) VALUES (2, 2, 20, 1, 2, CAST(1000.00 AS Decimal(7, 2)), 2, 2)
INSERT [dbo].[DETALLE_COMPROBANTE] ([ID_DETALLE_COMPROBANTE], [ID_COMPROBANTE], [ID_BUTACA], [CANTIDAD], [ID_PELICULA], [PRECIO], [ID_SALA], [ID_FUNCION]) VALUES (3, 4, 38, 1, 3, CAST(1500.00 AS Decimal(7, 2)), 3, 55)
SET IDENTITY_INSERT [dbo].[DETALLE_COMPROBANTE] OFF
GO
SET IDENTITY_INSERT [dbo].[FORMAS_DE_COMPRAS] ON 

INSERT [dbo].[FORMAS_DE_COMPRAS] ([ID_FORMA_DE_COMPRA], [FORMA_DE_COMPRA]) VALUES (1, N'Mostrador')
INSERT [dbo].[FORMAS_DE_COMPRAS] ([ID_FORMA_DE_COMPRA], [FORMA_DE_COMPRA]) VALUES (2, N'APP')
INSERT [dbo].[FORMAS_DE_COMPRAS] ([ID_FORMA_DE_COMPRA], [FORMA_DE_COMPRA]) VALUES (3, N'Aplicacion Externa')
SET IDENTITY_INSERT [dbo].[FORMAS_DE_COMPRAS] OFF
GO
SET IDENTITY_INSERT [dbo].[FORMAS_DE_PAGO] ON 

INSERT [dbo].[FORMAS_DE_PAGO] ([ID_FORMA_DE_PAGO], [FORMA_DE_PAGO]) VALUES (1, N'Efectivo')
INSERT [dbo].[FORMAS_DE_PAGO] ([ID_FORMA_DE_PAGO], [FORMA_DE_PAGO]) VALUES (2, N'Debito')
INSERT [dbo].[FORMAS_DE_PAGO] ([ID_FORMA_DE_PAGO], [FORMA_DE_PAGO]) VALUES (3, N'Credito')
SET IDENTITY_INSERT [dbo].[FORMAS_DE_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[FORMAS_PAGO_X_COMPROBANTE] ON 

INSERT [dbo].[FORMAS_PAGO_X_COMPROBANTE] ([ID_FP_X_COMP], [ID_COMPROBANTE], [ID_FORMA_DE_PAGO], [MONTO_ABONADO]) VALUES (28, 1, 1, CAST(350.00 AS Decimal(7, 2)))
INSERT [dbo].[FORMAS_PAGO_X_COMPROBANTE] ([ID_FP_X_COMP], [ID_COMPROBANTE], [ID_FORMA_DE_PAGO], [MONTO_ABONADO]) VALUES (29, 2, 1, CAST(1000.00 AS Decimal(7, 2)))
INSERT [dbo].[FORMAS_PAGO_X_COMPROBANTE] ([ID_FP_X_COMP], [ID_COMPROBANTE], [ID_FORMA_DE_PAGO], [MONTO_ABONADO]) VALUES (30, 4, 5, CAST(1500.00 AS Decimal(7, 2)))
SET IDENTITY_INSERT [dbo].[FORMAS_PAGO_X_COMPROBANTE] OFF
GO
SET IDENTITY_INSERT [dbo].[FUNCIONES] ON 

INSERT [dbo].[FUNCIONES] ([ID_FUNCION], [FECHA_FUNCION], [HORA_FUNCION]) VALUES (1, CAST(N'2022-09-01' AS Date), N'17:00:00')
INSERT [dbo].[FUNCIONES] ([ID_FUNCION], [FECHA_FUNCION], [HORA_FUNCION]) VALUES (2, CAST(N'2022-09-01' AS Date), N'20:00:00')
INSERT [dbo].[FUNCIONES] ([ID_FUNCION], [FECHA_FUNCION], [HORA_FUNCION]) VALUES (3, CAST(N'2022-09-01' AS Date), N'23:00:00')
GO
SET IDENTITY_INSERT [dbo].[FUNCIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[FUNCIONES_X_PELICULA] ON 

INSERT [dbo].[FUNCIONES_X_PELICULA] ([ID_FUN_X_PEL], [ID_FUNCION], [ID_PELICULA]) VALUES (1, 1, 1)
INSERT [dbo].[FUNCIONES_X_PELICULA] ([ID_FUN_X_PEL], [ID_FUNCION], [ID_PELICULA]) VALUES (2, 2, 17)
INSERT [dbo].[FUNCIONES_X_PELICULA] ([ID_FUN_X_PEL], [ID_FUNCION], [ID_PELICULA]) VALUES (3, 3, 7)
GO
SET IDENTITY_INSERT [dbo].[FUNCIONES_X_PELICULA] OFF
GO
SET IDENTITY_INSERT [dbo].[GENEROS] ON 

INSERT [dbo].[GENEROS] ([ID_GENERO], [GENERO]) VALUES (1, N'Terror')
INSERT [dbo].[GENEROS] ([ID_GENERO], [GENERO]) VALUES (2, N'Accion')
INSERT [dbo].[GENEROS] ([ID_GENERO], [GENERO]) VALUES (3, N'Comedia')
SET IDENTITY_INSERT [dbo].[GENEROS] OFF
GO
SET IDENTITY_INSERT [dbo].[IDIOMAS] ON 

INSERT [dbo].[IDIOMAS] ([ID_IDIOMA], [IDIOMA]) VALUES (1, N'Español')
INSERT [dbo].[IDIOMAS] ([ID_IDIOMA], [IDIOMA]) VALUES (2, N'Ingles')
INSERT [dbo].[IDIOMAS] ([ID_IDIOMA], [IDIOMA]) VALUES (3, N'Japones')
SET IDENTITY_INSERT [dbo].[IDIOMAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PELICULAS] ON 

INSERT [dbo].[PELICULAS] ([ID_PELICULA], [NOMBRE], [DURACION], [ID_GENERO], [ID_CLASIF_EDAD], [DESCRIPCION], [ID_IDIOMA], [ID_SUBTITULO]) VALUES (1, N'La Huerfana', 95, 8, 2, N'La pelicula trata sobre una huerfana...', 1, NULL)
INSERT [dbo].[PELICULAS] ([ID_PELICULA], [NOMBRE], [DURACION], [ID_GENERO], [ID_CLASIF_EDAD], [DESCRIPCION], [ID_IDIOMA], [ID_SUBTITULO]) VALUES (2, N'La Huerfana', 95, 8, 2, N'La pelicula trata de una huerfana...', 2, 1)
INSERT [dbo].[PELICULAS] ([ID_PELICULA], [NOMBRE], [DURACION], [ID_GENERO], [ID_CLASIF_EDAD], [DESCRIPCION], [ID_IDIOMA], [ID_SUBTITULO]) VALUES (3, N'La Mujer Rey', 107, 2, 2, N'La mujer rey...', 1, NULL)
SET IDENTITY_INSERT [dbo].[PELICULAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVINCIAS] ON 

INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA]) VALUES (2, N'Cordoba')
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA]) VALUES (3, N'Santa Fe')
SET IDENTITY_INSERT [dbo].[PROVINCIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[SALAS] ON 

INSERT [dbo].[SALAS] ([ID_SALA], [NRO_SALA], [ID_TIPO_SALA], [PRECIO_X_BUTACA], [ID_CINE]) VALUES (1, 1, 1, CAST(700.00 AS Decimal(7, 2)), 1)
INSERT [dbo].[SALAS] ([ID_SALA], [NRO_SALA], [ID_TIPO_SALA], [PRECIO_X_BUTACA], [ID_CINE]) VALUES (2, 2, 2, CAST(1000.00 AS Decimal(7, 2)), 1)
INSERT [dbo].[SALAS] ([ID_SALA], [NRO_SALA], [ID_TIPO_SALA], [PRECIO_X_BUTACA], [ID_CINE]) VALUES (3, 3, 3, CAST(1500.00 AS Decimal(7, 2)), 1)
SET IDENTITY_INSERT [dbo].[SALAS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBTITULOS] ON 

INSERT [dbo].[SUBTITULOS] ([ID_SUBTITULO], [SUBTITULOS]) VALUES (1, N'Español')
INSERT [dbo].[SUBTITULOS] ([ID_SUBTITULO], [SUBTITULOS]) VALUES (2, N'Ingles')
SET IDENTITY_INSERT [dbo].[SUBTITULOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKETS] ON 

INSERT [dbo].[TICKETS] ([ID_TICKET], [ID_DETALLE_COMPROBANTE]) VALUES (1, 1)
INSERT [dbo].[TICKETS] ([ID_TICKET], [ID_DETALLE_COMPROBANTE]) VALUES (2, 2)
INSERT [dbo].[TICKETS] ([ID_TICKET], [ID_DETALLE_COMPROBANTE]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[TICKETS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_CLIENTES] ON 

INSERT [dbo].[TIPOS_CLIENTES] ([ID_TIPO_CLIENTE], [TIPO_CLIENTE]) VALUES (1, N'Menor')
INSERT [dbo].[TIPOS_CLIENTES] ([ID_TIPO_CLIENTE], [TIPO_CLIENTE]) VALUES (2, N'Mayor')
INSERT [dbo].[TIPOS_CLIENTES] ([ID_TIPO_CLIENTE], [TIPO_CLIENTE]) VALUES (3, N'Jubilado')
SET IDENTITY_INSERT [dbo].[TIPOS_CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_DESCUENTOS] ON 

INSERT [dbo].[TIPOS_DESCUENTOS] ([ID_TIPO_DESCUENTO], [TIPO_DESCUENTO]) VALUES (1, N'2X1')
INSERT [dbo].[TIPOS_DESCUENTOS] ([ID_TIPO_DESCUENTO], [TIPO_DESCUENTO]) VALUES (2, N'50% Off')
INSERT [dbo].[TIPOS_DESCUENTOS] ([ID_TIPO_DESCUENTO], [TIPO_DESCUENTO]) VALUES (3, N'Club Beneficio')
SET IDENTITY_INSERT [dbo].[TIPOS_DESCUENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_DOCUMENTOS] ON 

INSERT [dbo].[TIPOS_DOCUMENTOS] ([ID_TIPO_DOCUMENTO], [TIPO_DOCUMENTE]) VALUES (1, N'DNI')
INSERT [dbo].[TIPOS_DOCUMENTOS] ([ID_TIPO_DOCUMENTO], [TIPO_DOCUMENTE]) VALUES (2, N'CUIL/CUIT')
INSERT [dbo].[TIPOS_DOCUMENTOS] ([ID_TIPO_DOCUMENTO], [TIPO_DOCUMENTE]) VALUES (3, N'Pasaporte')
SET IDENTITY_INSERT [dbo].[TIPOS_DOCUMENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_SALAS] ON 

INSERT [dbo].[TIPOS_SALAS] ([ID_TIPO_SALA], [TIPO_SALA]) VALUES (1, N'2D')
INSERT [dbo].[TIPOS_SALAS] ([ID_TIPO_SALA], [TIPO_SALA]) VALUES (2, N'3D')
INSERT [dbo].[TIPOS_SALAS] ([ID_TIPO_SALA], [TIPO_SALA]) VALUES (3, N'4D')
SET IDENTITY_INSERT [dbo].[TIPOS_SALAS] OFF
GO
INSERT [dbo].[Usuarios] ([usuario], [contraseña], [jerarquia]) VALUES (N'f.neuman', N'113893', N'admin')
INSERT [dbo].[Usuarios] ([usuario], [contraseña], [jerarquia]) VALUES (N'i.prado', N'113833', N'admin')
INSERT [dbo].[Usuarios] ([usuario], [contraseña], [jerarquia]) VALUES (N'g.collazo', N'114259', N'empleado')
GO
SET IDENTITY_INSERT [dbo].[VENDEDORES] ON 

INSERT [dbo].[VENDEDORES] ([ID_VENDEDOR], [APELLIDO], [NOMBRE], [ID_TIPO_DOCUMENTO], [DOCUMENTO], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [FECHA_INGRESO]) VALUES (1, N'Juarez', N'Jose Luis', 1, 38993675, 3675543229, N'Espinosa', 3509, 2, CAST(N'2020-09-23' AS Date))
INSERT [dbo].[VENDEDORES] ([ID_VENDEDOR], [APELLIDO], [NOMBRE], [ID_TIPO_DOCUMENTO], [DOCUMENTO], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [FECHA_INGRESO]) VALUES (2, N'Luqstoff', N'Analia', 1, 41765493, 351779256, N'Lugones', 8753, 24, CAST(N'2020-04-14' AS Date))
INSERT [dbo].[VENDEDORES] ([ID_VENDEDOR], [APELLIDO], [NOMBRE], [ID_TIPO_DOCUMENTO], [DOCUMENTO], [TELEFONO], [CALLE], [ALTURA], [ID_BARRIO], [FECHA_INGRESO]) VALUES (3, N'Garnier', N'Jose', 1, 35908775, 119828752, N'Chile', 3325, 10, CAST(N'2020-05-26' AS Date))
SET IDENTITY_INSERT [dbo].[VENDEDORES] OFF
GO
ALTER TABLE [dbo].[BARRIOS]  WITH CHECK ADD  CONSTRAINT [FK_CIUDADES] FOREIGN KEY([ID_CIUDAD])
REFERENCES [dbo].[CIUDADES] ([ID_CIUDAD])
GO
ALTER TABLE [dbo].[BARRIOS] CHECK CONSTRAINT [FK_CIUDADES]
GO
ALTER TABLE [dbo].[BUTACAS]  WITH CHECK ADD  CONSTRAINT [FK_SALAS_BUTACAS] FOREIGN KEY([ID_SALA])
REFERENCES [dbo].[SALAS] ([ID_SALA])
GO
ALTER TABLE [dbo].[BUTACAS] CHECK CONSTRAINT [FK_SALAS_BUTACAS]
GO
ALTER TABLE [dbo].[CINES]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_CINE] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[CINES] CHECK CONSTRAINT [FK_BARRIOS_CINE]
GO
ALTER TABLE [dbo].[CINES]  WITH CHECK ADD  CONSTRAINT [FK_CONDS_IVA] FOREIGN KEY([ID_COND_IVA])
REFERENCES [dbo].[COND_IVA] ([ID_COND_IVA])
GO
ALTER TABLE [dbo].[CINES] CHECK CONSTRAINT [FK_CONDS_IVA]
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIAS] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[CIUDADES] CHECK CONSTRAINT [FK_PROVINCIAS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_CLIENTES] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_BARRIOS_CLIENTES]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_COND_IVA] FOREIGN KEY([ID_COND_IVA])
REFERENCES [dbo].[COND_IVA] ([ID_COND_IVA])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_COND_IVA]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_CLIENTE] FOREIGN KEY([ID_TIPO_CLIENTE])
REFERENCES [dbo].[TIPOS_CLIENTES] ([ID_TIPO_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_TIPO_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPOS_DOCUMENTOS] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_CINE_COMPROBANTE] FOREIGN KEY([ID_CINE])
REFERENCES [dbo].[CINES] ([ID_CINE])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_CINE_COMPROBANTE]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_COMPROBANTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_CLIENTES_COMPROBANTE]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_FORMA_COMPRA] FOREIGN KEY([ID_FORMA_DE_COMPRA])
REFERENCES [dbo].[FORMAS_DE_COMPRAS] ([ID_FORMA_DE_COMPRA])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_FORMA_COMPRA]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_DESCUENTO] FOREIGN KEY([ID_TIPO_DESCUENTO])
REFERENCES [dbo].[TIPOS_DESCUENTOS] ([ID_TIPO_DESCUENTO])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_TIPO_DESCUENTO]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_VENDEDORES_COMPROBANTES] FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[VENDEDORES] ([ID_VENDEDOR])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_VENDEDORES_COMPROBANTES]
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_BUTACAS_DETALLE] FOREIGN KEY([ID_BUTACA])
REFERENCES [dbo].[BUTACAS] ([ID_BUTACA])
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE] CHECK CONSTRAINT [FK_BUTACAS_DETALLE]
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTES] FOREIGN KEY([ID_COMPROBANTE])
REFERENCES [dbo].[COMPROBANTES] ([ID_COMPROBANTE])
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE] CHECK CONSTRAINT [FK_COMPROBANTES]
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_FUNCION_DETALLE] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE] CHECK CONSTRAINT [FK_FUNCION_DETALLE]
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_DETALLE] FOREIGN KEY([ID_PELICULA])
REFERENCES [dbo].[PELICULAS] ([ID_PELICULA])
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE] CHECK CONSTRAINT [FK_PELICULA_DETALLE]
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_SALA_DETALLE] FOREIGN KEY([ID_SALA])
REFERENCES [dbo].[SALAS] ([ID_SALA])
GO
ALTER TABLE [dbo].[DETALLE_COMPROBANTE] CHECK CONSTRAINT [FK_SALA_DETALLE]
GO
ALTER TABLE [dbo].[FORMAS_PAGO_X_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_COMPX] FOREIGN KEY([ID_COMPROBANTE])
REFERENCES [dbo].[COMPROBANTES] ([ID_COMPROBANTE])
GO
ALTER TABLE [dbo].[FORMAS_PAGO_X_COMPROBANTE] CHECK CONSTRAINT [FK_COMPX]
GO
ALTER TABLE [dbo].[FORMAS_PAGO_X_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_FDP] FOREIGN KEY([ID_FORMA_DE_PAGO])
REFERENCES [dbo].[FORMAS_DE_PAGO] ([ID_FORMA_DE_PAGO])
GO
ALTER TABLE [dbo].[FORMAS_PAGO_X_COMPROBANTE] CHECK CONSTRAINT [FK_FDP]
GO
ALTER TABLE [dbo].[FUNCIONES_X_PELICULA]  WITH CHECK ADD  CONSTRAINT [FK_FUNC_PEL] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[FUNCIONES_X_PELICULA] CHECK CONSTRAINT [FK_FUNC_PEL]
GO
ALTER TABLE [dbo].[FUNCIONES_X_PELICULA]  WITH CHECK ADD  CONSTRAINT [FK_PEL_FUNC] FOREIGN KEY([ID_PELICULA])
REFERENCES [dbo].[PELICULAS] ([ID_PELICULA])
GO
ALTER TABLE [dbo].[FUNCIONES_X_PELICULA] CHECK CONSTRAINT [FK_PEL_FUNC]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_EDADES_MINIMAS] FOREIGN KEY([ID_CLASIF_EDAD])
REFERENCES [dbo].[CLASIFICACION_EDADES] ([ID_CLASIF_EDAD])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_EDADES_MINIMAS]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_ESUBTITULO] FOREIGN KEY([ID_SUBTITULO])
REFERENCES [dbo].[SUBTITULOS] ([ID_SUBTITULO])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_ESUBTITULO]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_GENEROS] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENEROS] ([ID_GENERO])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_GENEROS]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_IDIOMA] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMAS] ([ID_IDIOMA])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_IDIOMA]
GO
ALTER TABLE [dbo].[SALAS]  WITH CHECK ADD  CONSTRAINT [FK_CINES_SALAS] FOREIGN KEY([ID_CINE])
REFERENCES [dbo].[CINES] ([ID_CINE])
GO
ALTER TABLE [dbo].[SALAS] CHECK CONSTRAINT [FK_CINES_SALAS]
GO
ALTER TABLE [dbo].[SALAS]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_SALA] FOREIGN KEY([ID_TIPO_SALA])
REFERENCES [dbo].[TIPOS_SALAS] ([ID_TIPO_SALA])
GO
ALTER TABLE [dbo].[SALAS] CHECK CONSTRAINT [FK_TIPO_SALA]
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_TICKET] FOREIGN KEY([ID_DETALLE_COMPROBANTE])
REFERENCES [dbo].[DETALLE_COMPROBANTE] ([ID_DETALLE_COMPROBANTE])
GO
ALTER TABLE [dbo].[TICKETS] CHECK CONSTRAINT [FK_DETALLE_TICKET]
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_VENDEDORES] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[VENDEDORES] CHECK CONSTRAINT [FK_BARRIOS_VENDEDORES]
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_DOC] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPOS_DOCUMENTOS] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[VENDEDORES] CHECK CONSTRAINT [FK_TIPO_DOC]
GO
/****** Object:  StoredProcedure [dbo].[Cargar_combos_comprobante]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cargar_combos_comprobante]
(@valor varchar(125))
as
begin
if(@valor='vendedores')

select ID_VENDEDOR,
UPPER(LEFT(APELLIDO,1))+
LOWER(RIGHT(APELLIDO,len(APELLIDO)-1))+', '+
UPPER(LEFT(NOMBRE,1))+
LOWER(RIGHT(NOMBRE,len(NOMBRE)-1)) VENDEDOR
from VENDEDORES 

else if(@valor ='clientes')

select ID_CLIENTE,
UPPER(LEFT(NOMBRE,1))+
LOWER(RIGHT(NOMBRE,len(NOMBRE)-1)) CLIENTE
from CLIENTES 

else if(@valor ='cines')

select ID_CINE,
UPPER(LEFT(NOMBRE,1))+
LOWER(RIGHT(NOMBRE,len(NOMBRE)-1)) CINE
from CINES 

else if(@valor ='formas_de_compras')

select ID_FORMA_DE_COMPRA,
UPPER(LEFT(FORMA_DE_COMPRA,1))+
LOWER(RIGHT(FORMA_DE_COMPRA,len(FORMA_DE_COMPRA)-1)) 'FORMA DE COMPRA'
from FORMAS_DE_COMPRAS 

else if(@valor ='descuento')

select ID_TIPO_DESCUENTO,
UPPER(LEFT(TIPO_DESCUENTO,1))+
LOWER(RIGHT(TIPO_DESCUENTO,len(TIPO_DESCUENTO)-1)) DESCUENTO
from TIPOS_DESCUENTOS 

else if(@valor ='peliculas')

select ID_PELICULA,
UPPER(LEFT(NOMBRE,1))+
LOWER(RIGHT(NOMBRE,len(NOMBRE)-1))+'--'+
UPPER(LEFT(IDIOMA,1))+
LOWER(RIGHT(IDIOMA,len(IDIOMA)-1)) PELICULA
from PELICULAS P
JOIN IDIOMAS I ON I.ID_IDIOMA=P.ID_IDIOMA


end
GO
/****** Object:  StoredProcedure [dbo].[Cargar_combos_comprobante_butacas]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cargar_combos_comprobante_butacas]
(@valor varchar(125))
as
begin
select id_butaca, 'Fila-'+ltrim(str(NRO_FILA))+'| Butaca-'+ltrim(str(NRO_BUTACA)) butaca
from BUTACAS b
join SALAS s on s.ID_SALA=b.ID_SALA
where s.ID_SALA=convert(int,@valor)
and b.RESERVADO = 0
end
GO
/****** Object:  StoredProcedure [dbo].[Cargar_combos_comprobante_filas]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Cargar_combos_comprobante_filas]
(@valor varchar(125))
as
begin
select DISTINCT NRO_FILA
from BUTACAS b
join SALAS s on s.ID_SALA=b.ID_SALA
where s.NRO_SALA=convert(int,@valor)
and b.RESERVADO = 0
end
GO
/****** Object:  StoredProcedure [dbo].[Cargar_combos_comprobante_funciones]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cargar_combos_comprobante_funciones]
(@valor varchar(125))
as
begin
select FXP.ID_FUNCION, CONVERT(VARCHAR,FECHA_FUNCION)+' ('+HORA_FUNCION+')' FUNCION
from FUNCIONES F
join FUNCIONES_X_PELICULA FXP ON FXP.ID_FUNCION=F.ID_FUNCION
JOIN PELICULAS P ON P.ID_PELICULA=FXP.ID_PELICULA
WHERE DATEDIFF(DAY,FECHA_FUNCION,GETDATE())<=0 
AND p.ID_PELICULA= convert(int,@valor)
end
GO
/****** Object:  StoredProcedure [dbo].[Cargar_combos_comprobante_salas]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Cargar_combos_comprobante_salas]
(@valor int)
as
begin
select ID_SALA,NRO_SALA
from SALAS s
join CINES c on c.ID_CINE=s.ID_CINE
where c.ID_CINE=convert(int,@valor)
end
GO
/****** Object:  StoredProcedure [dbo].[Cargar_Precio]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Cargar_Precio]
(@valor varchar(125))
as
select PRECIO_X_BUTACA
from SALAS
where ID_SALA = CONVERT(INT,@VALOR)
GO
/****** Object:  StoredProcedure [dbo].[Consultar_Tabla_Auxiliar]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Consultar_Tabla_Auxiliar]
(@valor varchar(125))
as
begin
if(@valor='barrios')
select * from barrios
else if(@valor ='tipos salas')
select * from TIPOS_SALAS
else if(@valor ='provincias')
select * from PROVINCIAS
else if(@valor ='ciudades')
select * from CIUDADES
else if(@valor ='tipos documentos')
select * from TIPOS_DOCUMENTOS
else if(@valor ='tipos clientes')
select * from TIPOS_CLIENTES
else if(@valor ='condicion iva')
select * from COND_IVA
else if(@valor ='subtitulos')
select * from SUBTITULOS
else if(@valor ='generos')
select * from GENEROS
else if(@valor ='idiomas')
select * from IDIOMAS
else if(@valor ='clasificacion edades')
select * from CLASIFICACION_EDADES
else if(@valor ='formas de pago')
select * from FORMAS_DE_PAGO
else if(@valor ='formas de compra')
select * from FORMAS_DE_COMPRAS
else if(@valor ='tipos de descuento')
select * from TIPOS_DESCUENTOS
else if (@valor='funciones')
select top 3 ID_FUNCION, HORA_FUNCION from FUNCIONES
end
GO
/****** Object:  StoredProcedure [dbo].[insertar_Tabla_Auxiliar]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertar_Tabla_Auxiliar]
(@tabla varchar(125), @valor varchar(150),@valor2 int =null)
as
begin
if(@tabla='barrios')
insert into barrios values(@valor,@valor2)
else if(@tabla ='tipos salas')
insert into TIPOS_SALAS values(@valor)
else if(@tabla ='provincias')
insert into PROVINCIAS values(@valor)
else if(@tabla ='ciudades')
insert into CIUDADES values(@valor,@valor2)
else if(@tabla ='tipos documentos')
insert into TIPOS_DOCUMENTOS values(@valor)
else if(@tabla ='tipos clientes')
insert into TIPOS_CLIENTES values(@valor)
else if(@tabla ='condicion iva')
insert into COND_IVA values(@valor)
else if(@tabla ='subtitulos')
insert into SUBTITULOS values(@valor)
else if(@tabla ='generos')
insert into GENEROS values(@valor)
else if(@tabla ='idiomas')
insert into IDIOMAS values(@valor)
else if(@tabla ='clasificacion edades')
insert into CLASIFICACION_EDADES values(@valor)
else if(@tabla ='formas de pago')
insert into FORMAS_DE_PAGO values(@valor)
else if(@tabla ='formas de compra')
insert into FORMAS_DE_COMPRAS values(@valor)
else if(@tabla ='tipos de descuento')
insert into TIPOS_DESCUENTOS values(@valor)
end
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Butacas]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Reporte_Butacas]
@cine int,
@sala int,
@porcentaje decimal(10,2)
AS
	SELECT c.NOMBRE cine, s.NRO_SALA sala, s.PRECIO_X_BUTACA precio_unitario_actual, dbo.precio_con_aumento(s.PRECIO_X_BUTACA,@porcentaje) 
	precio_unitario_modificado, COUNT(b.NRO_BUTACA)*s.PRECIO_X_BUTACA precio_total_actual,SUM(dbo.precio_con_aumento(s.PRECIO_X_BUTACA,@porcentaje)) 
	precio_total_modificado, COUNT(b.NRO_BUTACA) cantidad_de_butacas
	FROM SALAS s
	JOIN CINES c ON c.ID_CINE = s.ID_CINE
	JOIN BUTACAS b ON b.ID_SALA = s.ID_SALA
	WHERE c.ID_CINE = @cine
	AND s.ID_SALA = @sala
	GROUP BY c.NOMBRE, s.NRO_SALA, s.PRECIO_X_BUTACA
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Clientes_Genero]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Reporte_Clientes_Genero]
@GENERO INT
AS
SELECT DISTINCT C.NOMBRE nombre, tc.TIPO_CLIENTE tipo
FROM CLIENTES C
JOIN TIPOS_CLIENTES tc ON TC.ID_TIPO_CLIENTE = c.ID_TIPO_CLIENTE
WHERE C.ID_CLIENTE not in (SELECT DISTINCT CO.ID_CLIENTE FROM COMPROBANTES CO
					  JOIN DETALLE_COMPROBANTE D ON D.ID_COMPROBANTE=CO.ID_COMPROBANTE
					  JOIN CLIENTES C2 ON C2.ID_CLIENTE=CO.ID_CLIENTE
					  JOIN PELICULAS P ON P.ID_PELICULA=D.ID_PELICULA
					  JOIN GENEROS G ON G.ID_GENERO=P.ID_GENERO
					  WHERE G.ID_GENERO = @GENERO)
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Clientes_Pelicula]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Reporte_Clientes_Pelicula]
@PELICULA INT
AS
SELECT DISTINCT C.NOMBRE nombre, tc.TIPO_CLIENTE tipo
FROM CLIENTES C
JOIN TIPOS_CLIENTES tc ON TC.ID_TIPO_CLIENTE = c.ID_TIPO_CLIENTE
WHERE C.ID_CLIENTE not in (SELECT DISTINCT CO.ID_CLIENTE FROM COMPROBANTES CO
						   JOIN DETALLE_COMPROBANTE D ON D.ID_COMPROBANTE=CO.ID_COMPROBANTE
						   JOIN CLIENTES C2 ON C2.ID_CLIENTE=CO.ID_CLIENTE
						   JOIN PELICULAS P ON P.ID_PELICULA=D.ID_PELICULA
						   WHERE P.ID_PELICULA = @PELICULA)
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Comprobante]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Reporte_Comprobante]
@fecha_desde date,
@fecha_hasta date,
@id_cliente int,
@id_vendedor int
AS
set dateformat DMY
IF(@id_cliente = 0 AND @id_vendedor = 0)
	SELECT c.FECHA_RESERVA fecha, c.ID_COMPROBANTE nro_de_factura, cli.NOMBRE cliente, v.APELLIDO + ' ' + v.NOMBRE 
	vendedor, SUM(dc.PRECIO*dc.CANTIDAD) importe_total,p.nombre as pelicula
	FROM COMPROBANTES c
	JOIN CLIENTES cli on cli.ID_CLIENTE = c.ID_CLIENTE
	JOIN VENDEDORES v ON v.ID_VENDEDOR = c.ID_VENDEDOR
	JOIN DETALLE_COMPROBANTE dc ON dc.ID_COMPROBANTE = c.ID_COMPROBANTE
	join PELICULAS p on dc.ID_PELICULA = p.ID_PELICULA
	WHERE c.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
	GROUP BY c.ID_COMPROBANTE, c.FECHA_RESERVA, cli.NOMBRE, v.APELLIDO, v.NOMBRE,p.NOMBRE
	ORDER BY c.ID_COMPROBANTE

IF(@id_cliente > 0 AND @id_vendedor = 0)
	SELECT c.FECHA_RESERVA fecha, c.ID_COMPROBANTE nro_de_factura, cli.NOMBRE cliente, v.APELLIDO + ' ' + v.NOMBRE 
	vendedor, SUM(dc.PRECIO*dc.CANTIDAD) importe_total,p.nombre as pelicula
	FROM COMPROBANTES c
	JOIN CLIENTES cli on cli.ID_CLIENTE = c.ID_CLIENTE
	JOIN VENDEDORES v ON v.ID_VENDEDOR = c.ID_VENDEDOR
	JOIN DETALLE_COMPROBANTE dc ON dc.ID_COMPROBANTE = c.ID_COMPROBANTE
	join PELICULAS p on dc.ID_PELICULA = p.ID_PELICULA
	WHERE c.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
	and cli.ID_CLIENTE = @id_cliente
	GROUP BY c.ID_COMPROBANTE, c.FECHA_RESERVA, cli.NOMBRE, v.APELLIDO, v.NOMBRE,p.NOMBRE
	ORDER BY c.ID_COMPROBANTE

IF(@id_cliente = 0 AND @id_vendedor > 0)
	SELECT c.FECHA_RESERVA fecha, c.ID_COMPROBANTE nro_de_factura, cli.NOMBRE cliente, v.APELLIDO + ' ' + v.NOMBRE 
	vendedor, SUM(dc.PRECIO*dc.CANTIDAD) importe_total,p.nombre as pelicula
	FROM COMPROBANTES c
	JOIN CLIENTES cli on cli.ID_CLIENTE = c.ID_CLIENTE
	JOIN VENDEDORES v ON v.ID_VENDEDOR = c.ID_VENDEDOR
	JOIN DETALLE_COMPROBANTE dc ON dc.ID_COMPROBANTE = c.ID_COMPROBANTE
	join PELICULAS p on dc.ID_PELICULA = p.ID_PELICULA
	WHERE c.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
	and v.ID_VENDEDOR = @id_vendedor
	GROUP BY c.ID_COMPROBANTE, c.FECHA_RESERVA, cli.NOMBRE, v.APELLIDO, v.NOMBRE,p.NOMBRE
	ORDER BY c.ID_COMPROBANTE

IF(@id_cliente > 0 AND @id_vendedor > 0)
	SELECT c.FECHA_RESERVA fecha, c.ID_COMPROBANTE nro_de_factura, cli.NOMBRE cliente, v.APELLIDO + ' ' + v.NOMBRE 
	vendedor, SUM(dc.PRECIO*dc.CANTIDAD) importe_total,p.nombre as pelicula
	FROM COMPROBANTES c
	JOIN CLIENTES cli on cli.ID_CLIENTE = c.ID_CLIENTE
	JOIN VENDEDORES v ON v.ID_VENDEDOR = c.ID_VENDEDOR
	JOIN DETALLE_COMPROBANTE dc ON dc.ID_COMPROBANTE = c.ID_COMPROBANTE
	join PELICULAS p on dc.ID_PELICULA = p.ID_PELICULA
	WHERE c.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
	and cli.ID_CLIENTE = @id_cliente
	and v.ID_VENDEDOR = @id_vendedor
	GROUP BY c.ID_COMPROBANTE, c.FECHA_RESERVA, cli.NOMBRE, v.APELLIDO, v.NOMBRE,p.NOMBRE
	ORDER BY c.ID_COMPROBANTE
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Peliculas]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Reporte_Peliculas]
@ESTACION varchar (100)
AS 
set dateformat DMY
	SELECT P.NOMBRE pelicula, COUNT(D.ID_BUTACA) cantidad_de_asistentes, SUM(PRECIO) total_recaudado
	FROM PELICULAS P
	JOIN DETALLE_COMPROBANTE D ON D.ID_PELICULA= P.ID_PELICULA
	JOIN COMPROBANTES C ON C.ID_COMPROBANTE = D.ID_COMPROBANTE
	WHERE DBO.f_Estacion_Fecha(C.FECHA_RESERVA) = @ESTACION
	GROUP BY P.NOMBRE
	ORDER BY 2 DESC
GO
/****** Object:  StoredProcedure [dbo].[Reporte_Vendedor]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Reporte_Vendedor]
@fecha_desde date,
@fecha_hasta date,
@cantidad int = null,
@sin_ventas bit = 0
AS
	set dateformat DMY
	IF(@sin_ventas = 0 AND @cantidad > 0)
		Select v.APELLIDO + ' ' + v.NOMBRE vendedor, COUNT(c.ID_COMPROBANTE)cantidad_de_ventas
		from VENDEDORES v
		left join COMPROBANTES c on c.ID_VENDEDOR=v.ID_VENDEDOR
		where c.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
		group by v.APELLIDO+' '+v.NOMBRE
		having count(c.id_comprobante) >= @cantidad
		order by 1
	else
	IF(@sin_ventas = 0 AND @cantidad = 0)
		Select v.APELLIDO + ' ' + v.NOMBRE vendedor, COUNT(c.ID_COMPROBANTE)cantidad_de_ventas
		from VENDEDORES v
		left join COMPROBANTES c on c.ID_VENDEDOR=v.ID_VENDEDOR
		where c.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
		group by v.APELLIDO+' '+v.NOMBRE
		having count(c.id_comprobante) >= @cantidad
		union
		Select v.APELLIDO + ' ' + v.NOMBRE vendedor, COUNT(c.ID_COMPROBANTE)cantidad_de_ventas
		from VENDEDORES v
		left join COMPROBANTES c on c.ID_VENDEDOR=v.ID_VENDEDOR
		where v.ID_VENDEDOR not in(select c2.id_vendedor from COMPROBANTES c2
									where c2.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta
									group by c2.ID_VENDEDOR)
		group by v.APELLIDO,v.NOMBRE
		order by 1

	else
	IF(@sin_ventas = 1 and @cantidad =0)
		Select v.APELLIDO + ' ' + v.NOMBRE vendedor, 0 cantidad_de_ventas
		from VENDEDORES v		
		where v.ID_VENDEDOR not in(select c2.id_vendedor from COMPROBANTES c2	
		where c2.FECHA_RESERVA BETWEEN @fecha_desde AND @fecha_hasta)
		group by v.APELLIDO,v.NOMBRE		
		order by 1
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_COMPROBANTES]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_COMPROBANTES]
AS
SELECT ID_COMPROBANTE,
LEFT(UPPER(V.APELLIDO),1)+RIGHT(LOWER(V.APELLIDO),LEN(V.APELLIDO)-1)+' '+
LEFT(UPPER(V.NOMBRE),1)+RIGHT(LOWER(V.NOMBRE),LEN(V.NOMBRE)-1) VENDEDOR,
LEFT(UPPER(CL.NOMBRE),1)+RIGHT(LOWER(CL.NOMBRE),LEN(CL.NOMBRE)-1) CLIENTE,
CI.NOMBRE CINE,
FECHA_RESERVA 'FECHA DE RESERVA',
F.FORMA_DE_COMPRA 'FORMA DE COMPRA'
, T.TIPO_DESCUENTO 'DESCUENTO'
FROM COMPROBANTES C
JOIN VENDEDORES V ON V.ID_VENDEDOR = C.ID_VENDEDOR
JOIN CLIENTES CL ON CL.ID_CLIENTE = C.ID_CLIENTE
JOIN CINES CI ON CI.ID_CINE = C.ID_CINE
JOIN FORMAS_DE_COMPRAS F ON F.ID_FORMA_DE_COMPRA = C.ID_FORMA_DE_COMPRA
JOIN TIPOS_DESCUENTOS T ON T.ID_TIPO_DESCUENTO = C.ID_TIPO_DESCUENTO
where BAJA=0;
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_COMPROBANTES_IDS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_COMPROBANTES_IDS]
AS
SELECT * FROM COMPROBANTES
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_DETALLES_COMPROBANTE]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_DETALLES_COMPROBANTE]
(@ID_COMPROBANTE INT)
AS
SELECT D.ID_DETALLE_COMPROBANTE,
UPPER(LEFT(P.NOMBRE,1))+LOWER(RIGHT(P.NOMBRE,len(P.NOMBRE)-1))+'--'+UPPER(LEFT(I.IDIOMA,1))+LOWER(RIGHT(I.IDIOMA,len(I.IDIOMA)-1)) PELICULA,
CONVERT(VARCHAR,F.FECHA_FUNCION)+' ('+F.HORA_FUNCION+')' FUNCION,
S.NRO_SALA SALA,
'Fila-'+ltrim(str(B.NRO_FILA))+'| Butaca-'+ltrim(str(B.NRO_BUTACA)) butaca,
d.CANTIDAD cantidad,
d.PRECIO PRECIO
FROM DETALLE_COMPROBANTE D
JOIN PELICULAS P ON P.ID_PELICULA=D.ID_PELICULA
JOIN IDIOMAS I ON I.ID_IDIOMA = P.ID_IDIOMA
JOIN FUNCIONES F ON F.ID_FUNCION = D.ID_FUNCION
JOIN SALAS S ON S.ID_SALA = D.ID_SALA
JOIN BUTACAS B ON B.ID_BUTACA = D.ID_BUTACA
WHERE D.ID_COMPROBANTE = @ID_COMPROBANTE
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_DETALLES_COMPROBANTE_IDS]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_DETALLES_COMPROBANTE_IDS]
(@ID_COMPROBANTE INT)
AS
SELECT * FROM DETALLE_COMPROBANTE
WHERE ID_COMPROBANTE=@ID_COMPROBANTE
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_USUARIO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CONSULTAR_USUARIO]
(@USUARIO VARCHAR(150),
@CONTRASEÑA VARCHAR(150))
AS
SELECT usuario, contraseña, lower(jerarquia)FROM Usuarios
WHERE usuario=@USUARIO AND contraseña = @CONTRASEÑA
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_USUARIO_ALL]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_USUARIO_ALL]
AS
SELECT * FROM Usuarios
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_DETALLE]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EDITAR_DETALLE]
	@ID_DETALLE_COMPROBANTE int,
	@ID_BUTACA int, 
	@CANTIDAD int, 
	@ID_PELICULA int,
	@PRECIO DECIMAL(7,2),
	@ID_SALA INT,
	@ID_FUNCION INT
AS
BEGIN
	UPDATE DETALLE_COMPROBANTE 
    SET 	
	ID_BUTACA = @ID_BUTACA,
	CANTIDAD = @CANTIDAD,
	ID_PELICULA = @ID_PELICULA,
	PRECIO = @PRECIO,
	ID_SALA = @ID_SALA,
	ID_FUNCION = @ID_FUNCION
	WHERE ID_DETALLE_COMPROBANTE = @ID_DETALLE_COMPROBANTE  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_MAESTRO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EDITAR_MAESTRO]
	@ID_VENDEDOR INT, 
	@ID_CLIENTE INT,
	@ID_CINE INT,
	@FECHA_RESERVA DATE,
	@ID_FORMA_DE_COMPRA INT,
	@ID_TIPO_DESCUENTO INT,
	@ID_COMPROBANTE INT ,
	@BAJA bit
AS
BEGIN
	UPDATE COMPROBANTES 
    SET 	
	ID_VENDEDOR = @ID_VENDEDOR,
	ID_CLIENTE = @ID_CLIENTE,
	ID_CINE = @ID_CINE,
	FECHA_RESERVA = @FECHA_RESERVA,
	ID_FORMA_DE_COMPRA = @ID_FORMA_DE_COMPRA,
	ID_TIPO_DESCUENTO = @ID_TIPO_DESCUENTO,
	BAJA = @BAJA
	WHERE ID_COMPROBANTE = @ID_COMPROBANTE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_USUARIO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_EDITAR_USUARIO]
(@USUARIO VARCHAR (100),
@CONTRASEÑA VARCHAR (100),
@JERARQUIA VARCHAR (100))
AS
Update Usuarios
set contraseña=@CONTRASEÑA, 
jerarquia =@JERARQUIA
where usuario = @USUARIO
GO
/****** Object:  StoredProcedure [dbo].[sp_ejecutar_funcion_prov_x_ciud]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ejecutar_funcion_prov_x_ciud]
(@ciudad varchar(250))
as
select p.ID_PROVINCIA, p.PROVINCIA
			FROM CIUDADES c 
			JOIN PROVINCIAS p ON c.ID_PROVINCIA = p.ID_PROVINCIA
			WHERE c.CIUDAD = @ciudad
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_MAESTRO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_MAESTRO]	
	@ID INT 
AS
BEGIN
	update COMPROBANTES
	set baja = 1
	WHERE ID_COMPROBANTE = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_USUARIO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_ELIMINAR_USUARIO]
(@USUARIO VARCHAR (100))
AS
DELETE Usuarios
where usuario = @USUARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DETALLE]
	@ID_COMPROBANTE int,
	@ID_BUTACA int, 
	@CANTIDAD int, 
	@ID_PELICULA int,
	@PRECIO DECIMAL(7,2),
	@ID_SALA INT,
	@ID_FUNCION INT
AS
BEGIN
	INSERT INTO DETALLE_COMPROBANTE
    VALUES (@ID_COMPROBANTE, @ID_BUTACA, @CANTIDAD, @ID_PELICULA,
	        @PRECIO, @ID_SALA, @ID_FUNCION);
  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_MAESTRO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_MAESTRO]
	@ID_VENDEDOR INT, 
	@ID_CLIENTE INT,
	@ID_CINE INT,
	@FECHA_RESERVA DATE,
	@ID_FORMA_DE_COMPRA INT,
	@ID_TIPO_DESCUENTO INT,
	@ID_COMPROBANTE INT OUTPUT,
	@BAJA BIT
AS
BEGIN
	INSERT INTO COMPROBANTES
    VALUES (@ID_VENDEDOR, @ID_CLIENTE, @ID_CINE, @FECHA_RESERVA,
	@ID_FORMA_DE_COMPRA, @ID_TIPO_DESCUENTO,@BAJA);
    SET @ID_COMPROBANTE = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_USUARIO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_INSERTAR_USUARIO]
(@USUARIO VARCHAR (100),
@CONTRASEÑA VARCHAR (100),
@JERARQUIA VARCHAR (100))
AS
INSERT INTO Usuarios
VALUES (@USUARIO, @CONTRASEÑA, @JERARQUIA)
GO
/****** Object:  StoredProcedure [dbo].[TIPO_CLIENTE_NUNCA_ASISTIO_A_GENERO]    Script Date: 10/11/2022 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIPO_CLIENTE_NUNCA_ASISTIO_A_GENERO]
@GENERO VARCHAR(15)
AS
Select DISTINCT TC.TIPO_CLIENTE
from TIPOS_CLIENTES TC
WHERE TC.ID_TIPO_CLIENTE <> ALL (SELECT DISTINCT TC.ID_TIPO_CLIENTE FROM COMPROBANTES CO 
JOIN DETALLE_COMPROBANTE D ON D.ID_COMPROBANTE=CO.ID_COMPROBANTE
JOIN CLIENTES C2 ON C2.ID_CLIENTE=CO.ID_CLIENTE 
JOIN TIPOS_CLIENTES TC ON TC.ID_TIPO_CLIENTE=C2.ID_TIPO_CLIENTE
JOIN PELICULAS P ON P.ID_PELICULA=D.ID_PELICULA 
JOIN GENEROS G ON G.ID_GENERO=P.ID_GENERO 
WHERE G.GENERO = @GENERO)
GO
USE [master]
GO
